<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.seezoon.framework.modules.system.dao.SysDeptDao" >
  <resultMap id="BaseResultMap" type="com.seezoon.framework.modules.system.entity.SysDept" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="parent_id" property="parentId" jdbcType="VARCHAR" />
    <result column="parent_ids" property="parentIds" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, parent_id, parent_ids, name, sort, create_by, create_date, update_by, update_date, 
    remarks
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from sys_dept
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="findList" resultMap="BaseResultMap" parameterType="com.seezoon.framework.modules.system.entity.SysParam" >
    select 
    <include refid="Base_Column_List" />
    from sys_dept
    <where>
    		<if test="parentId !=null and parentId!=''">
    			parent_id = #{parentId,jdbcType=VARCHAR}
    		</if>
    		<if test="parentIds !=null and parentIds!=''">
    			and parent_ids like concat(#{parentIds},'%')
    		</if>
    		<if test="name !=null and name!=''">
    			and name like concat('%',#{name},'%')
    		</if>
    		${dsf}
    </where>
    <!-- 有注入安全漏洞 后台系统忽略可以提高开发速度 -->
		<if test="sortField != null and sortField != '' and direction != null and direction !=''">
			order by ${sortField} ${direction}
		</if>
  </select>
  <delete id="deleteByPrimaryKey" >
    delete from sys_dept
    where id = #{id,jdbcType=VARCHAR} ${dsf}
  </delete>
  <delete id="deleteRoleDeptByDeptId" parameterType="java.lang.String">
		delete from sys_role_dept where dept_id= #{deptId}
	</delete>
  <insert id="insert" parameterType="com.seezoon.framework.modules.system.entity.SysDept" >
    insert into sys_dept (id, parent_id, parent_ids, 
      name, sort, create_by, 
      create_date, update_by, update_date, 
      remarks)
    values (#{id,jdbcType=VARCHAR}, #{parentId,jdbcType=VARCHAR}, #{parentIds,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{sort,jdbcType=INTEGER}, #{createBy,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP}, 
      #{remarks,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.seezoon.framework.modules.system.entity.SysDept" >
    update sys_dept
    <set >
      <if test="parentId != null" >
        parent_id = #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="parentIds != null" >
        parent_ids = #{parentIds,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR} ${dsf}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.seezoon.framework.modules.system.entity.SysDept" >
    update sys_dept
    set parent_id = #{parentId,jdbcType=VARCHAR},
      parent_ids = #{parentIds,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=INTEGER},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      remarks = #{remarks,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}  ${dsf}
  </update>
</mapper>