<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.seezoon.framework.modules.system.dao.SysLoginLogDao" >
  <resultMap id="BaseResultMap" type="com.seezoon.framework.modules.system.entity.SysLoginLog" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="login_time" property="loginTime" jdbcType="TIMESTAMP" />
    <result column="ip" property="ip" jdbcType="VARCHAR" />
    <result column="area" property="area" jdbcType="VARCHAR" />
    <result column="user_agent" property="userAgent" jdbcType="VARCHAR" />
    <result column="device_name" property="deviceName" jdbcType="VARCHAR" />
    <result column="browser_name" property="browserName" jdbcType="VARCHAR" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <!-- DB 字段截止 -->
    <result column="login_name" property="loginName" jdbcType="VARCHAR" />
    <result column="name" property="userName" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
  l.*,u.name,u.login_name
  </sql>
   <sql id="Join_Table" >
    sys_login_log l left join sys_user u on u.id = l.user_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="String" >
    select 
    <include refid="Base_Column_List" />
    from <include refid="Join_Table" />
    where l.id = #{id}
  </select>
  <select id="findList" resultMap="BaseResultMap" parameterType="com.seezoon.framework.modules.system.entity.SysLoginLog" >
    select 
    <include refid="Base_Column_List" />
    from <include refid="Join_Table" />
    <where>
    <if test="ext!=null and ext.startDate!=null">
			and l.login_time >= #{ext.startDate}
	</if>
	<if test="ext!=null and ext.endDate!=null">
		<![CDATA[  
			and l.login_time <= #{ext.endDate}
		 ]]>
	</if>
    <if test="ip !=null and ip!=''">
    and l.ip = #{ip}
    </if>
    <if test="status !=null and status!=''">
    and l.status = #{status}
    </if>
    
    <if test="loginName !=null and loginName!=''">
    and u.login_name = #{loginName}
    </if>
    <if test="userId !=null and userId!=''">
    and l.user_id = #{userId}
    </if>
	${dsf}
    </where>
	<choose>
    <when test="sortField != null and sortField != '' and direction != null and direction !=''">
    order by ${sortField} ${direction}
    </when>
    <otherwise>
   <!-- 默认排序设置 -->
    </otherwise>
    </choose>
  </select>
  <delete id="deleteByPrimaryKey" >
    delete from sys_login_log
    where id = #{id} ${dsf}
  </delete>
  <insert id="insert" parameterType="com.seezoon.framework.modules.system.entity.SysLoginLog" >
    insert into sys_login_log (id,user_id,status,login_time,ip,area,user_agent,device_name,browser_name,create_by,create_date,update_by,update_date,remarks)
    values (#{id},#{userId},#{status},#{loginTime},#{ip},#{area},#{userAgent},#{deviceName},#{browserName},#{createBy},#{createDate},#{updateBy},#{updateDate},#{remarks})
  </insert>
</mapper>