<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.seezoon.framework.modules.system.dao.SysLoginLogDao" >
  <resultMap id="BaseResultMap" type="com.seezoon.framework.modules.system.entity.SysLoginLog" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="login_time" property="loginTime" jdbcType="TIMESTAMP" />
    <result column="ip" property="ip" jdbcType="VARCHAR" />
    <result column="area" property="area" jdbcType="VARCHAR" />
    <result column="user_agent" property="userAgent" jdbcType="VARCHAR" />
    <result column="device_name" property="deviceName" jdbcType="VARCHAR" />
    <result column="browser_name" property="browserName" jdbcType="VARCHAR" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <!-- DB 字段截止 -->
    <result column="login_name" property="loginName" jdbcType="VARCHAR" />
    <result column="name" property="userName" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
  l.*,u.name,u.login_name
  </sql>
   <sql id="Join_Table" >
    sys_login_log l left join sys_user u on u.id = l.user_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="String" >
    select 
    <include refid="Base_Column_List" />
    from <include refid="Join_Table" />
    where id = #{id}
  </select>
  <select id="findList" resultMap="BaseResultMap" parameterType="com.seezoon.framework.modules.system.entity.SysLoginLog" >
    select 
    <include refid="Base_Column_List" />
    from <include refid="Join_Table" />
    <where>
    <if test="ext!=null and ext.startDate!=null">
			and l.login_time >= #{ext.startDate}
	</if>
	<if test="ext!=null and ext.endDate!=null">
		<![CDATA[  
			and l.login_time <= #{ext.endDate}
		 ]]>
	</if>
    <if test="ip !=null and ip!=''">
    and l.ip = #{ip}
    </if>
    <if test="loginName !=null and loginName!=''">
    and u.login_name = #{loginName}
    </if>
    <if test="userId !=null and userId!=''">
    and l.user_id = #{userId}
    </if>
	${dsf}
    </where>
	<choose>
    <when test="sortField != null and sortField != '' and direction != null and direction !=''">
    order by ${sortField} ${direction}
    </when>
    <otherwise>
   <!-- 默认排序设置 -->
    </otherwise>
    </choose>
  </select>
  <delete id="deleteByPrimaryKey" >
    delete from sys_login_log
    where id = #{id} ${dsf}
  </delete>
  <insert id="insert" parameterType="com.seezoon.framework.modules.system.entity.SysLoginLog" >
    insert into sys_login_log (id,user_id,login_time,ip,area,user_agent,device_name,browser_name,create_by,create_date,update_by,update_date,remarks)
    values (#{id},#{userId},#{loginTime},#{ip},#{area},#{userAgent},#{deviceName},#{browserName},#{createBy},#{createDate},#{updateBy},#{updateDate},#{remarks})
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.seezoon.framework.modules.system.entity.SysLoginLog" >
    update sys_login_log
    <set>
      <if test="userId != null" >
        user_id = #{userId},
      </if>
      <if test="loginTime != null" >
        login_time = #{loginTime},
      </if>
      <if test="ip != null" >
        ip = #{ip},
      </if>
      <if test="area != null" >
        area = #{area},
      </if>
      <if test="userAgent != null" >
        user_agent = #{userAgent},
      </if>
      <if test="deviceName != null" >
        device_name = #{deviceName},
      </if>
      <if test="browserName != null" >
        browser_name = #{browserName},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks},
      </if>
    </set>
    where id = #{id} ${dsf}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.seezoon.framework.modules.system.entity.SysLoginLog" >
    update sys_login_log
    set 
        user_id = #{userId}
        ,login_time = #{loginTime}
        ,ip = #{ip}
        ,area = #{area}
        ,user_agent = #{userAgent}
        ,device_name = #{deviceName}
        ,browser_name = #{browserName}
        ,update_by = #{updateBy}
        ,update_date = #{updateDate}
        ,remarks = #{remarks}
    where id = #{id} ${dsf}
  </update>
</mapper>