<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.seezoon.framework.modules.system.dao.SysRoleDao">
	<resultMap id="BaseResultMap"
		type="com.seezoon.framework.modules.system.entity.SysRole">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="data_scope" property="dataScope" jdbcType="CHAR" />
		<result column="create_by" property="createBy" jdbcType="VARCHAR" />
		<result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
		<result column="update_by" property="updateBy" jdbcType="VARCHAR" />
		<result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
		<result column="remarks" property="remarks" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, name, data_scope, create_by, create_date, update_by, update_date,
		remarks
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from sys_role
		where id = #{id,jdbcType=VARCHAR}
	</select>
	<select id="findList" resultMap="BaseResultMap"
		parameterType="com.seezoon.framework.modules.system.entity.SysRole">
		select
		<include refid="Base_Column_List" />
		from sys_role
		<where>
			<if test="dataScope !=null and dataScope!=''">
				and data_scope = #{dataScope}
			</if>
			<if test="name !=null and name!=''">
				and name like concat('%',#{name},'%')
			</if>
			${dsf}
		</where>
		<!-- 有注入安全漏洞 后台系统忽略可以提高开发速度 -->
		<if
			test="sortField != null and sortField != '' and direction != null and direction !=''">
			order by ${sortField} ${direction}
		</if>
	</select>
	<select id="findByUserId" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from sys_role r ,sys_user_role ur
		where ur.user_id = #{userId} and ur.role_id = r.id
	</select>
	<delete id="deleteByPrimaryKey" >
		delete from sys_role
		where id = #{id,jdbcType=VARCHAR} ${dsf}
	</delete>
	<delete id="deleteRoleMenuByRoleId" parameterType="java.lang.String">
		delete from sys_role_menu where role_id= #{roleId}
	</delete>
	<delete id="deleteUserRoleByRoleId" parameterType="java.lang.String">
		delete from sys_user_role where role_id= #{roleId}
	</delete>
	
	<insert id="insertRoleMenu" parameterType="java.util.List">
		insert into sys_role_menu (role_id, menu_id) values
		<foreach collection="list" item="item" separator=",">
			(#{item.roleId,jdbcType=VARCHAR}, #{item.menuId,jdbcType=VARCHAR})
		</foreach>
	</insert>
	<insert id="insert" parameterType="com.seezoon.framework.modules.system.entity.SysRole">
		insert into sys_role (id, name, data_scope,
		create_by, create_date, update_by,
		update_date, remarks)
		values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR},
		#{dataScope,jdbcType=CHAR},
		#{createBy,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR},
		#{updateDate,jdbcType=TIMESTAMP}, #{remarks,jdbcType=VARCHAR})
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.seezoon.framework.modules.system.entity.SysRole">
		update sys_role
		<set>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="dataScope != null">
				data_scope = #{dataScope,jdbcType=CHAR},
			</if>
			<if test="updateBy != null">
				update_by = #{updateBy,jdbcType=VARCHAR},
			</if>
			<if test="updateDate != null">
				update_date = #{updateDate,jdbcType=TIMESTAMP},
			</if>
			<if test="remarks != null">
				remarks = #{remarks,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=VARCHAR} ${dsf}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.seezoon.framework.modules.system.entity.SysRole">
		update sys_role
		set name = #{name,jdbcType=VARCHAR},
		data_scope = #{dataScope,jdbcType=CHAR},
		update_by = #{updateBy,jdbcType=VARCHAR},
		update_date = #{updateDate,jdbcType=TIMESTAMP},
		remarks = #{remarks,jdbcType=VARCHAR}
		where id = #{id,jdbcType=VARCHAR} ${dsf}
	</update>
</mapper>